<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="XmlToStringAndObjectInObject">
    <listeners>
        <listener class-name="Report.Listener"/>
    </listeners>
<test name="Converting xml file to string file">
<parameter name="browserName" value="chrome"></parameter>
<classes>
    <class name="xmltostring.TestClass"/>
</classes>
</test>
    <test name="Object of object">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="objectinobject.TestJsonParsing"/>
        </classes>
    </test>
<test name="serialization of multiple xml files to string ">
<parameter name="browserName" value="chrome"></parameter>
<classes>
    <class name="XmlToStringParsing.XmlParserCLass"/>
</classes>
</test>
</suite>